Evaluativo de la Clase 3

Datos Simples

In [ ]:
ciudades = ["Rio Grande","Tolhuin","La PLata","Salta"]
empleados = { "trabajador1" : {"nombre":"Carlos",
             "cargo":"programador",
             "salario":"350.500"},
             "trabajador2" : {"nombre":"Carolina",
             "cargo":"analista de datos",
             "salario":"340.500"},
             "trabajador3" : {"nombre":"Maria",
             "cargo":"programadora",
             "salario":"350.500"}
}

In [ ]:
print(empleados["trabajador2"])

In [ ]:
print(ciudades[2])

Manipulacion de Listas y Metodos

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9]
numeros.append(10)
print(numeros)

In [ ]:
numeros2 = [20,30,40]
numeros.extend(numeros2)
print(numeros)

In [ ]:
numeros.insert(4,50)
print(numeros.sort())
print(numeros)

Manipulacion de Diccionarios y Metodos

In [ ]:
productos = {"nombre":"galletas de agua",
             "precio":2500,
             "cantidad en stock":30}

In [ ]:
print(productos.keys())
print(productos.values())
print(productos.items())
print(productos.get("precio"))

Datos Complejos

In [ ]:
lista = [{"titulo":"El principito","autor":"Antoine de Saint-Exupéry","año de publicacion":"1943"},
        {"titulo":"Las venas abiertas de America Latina","autor":"Eduardo Galeano","año de publicacion":"1971"},
        {"titulo":"Cronicas de Marte","autor":"Ray Bradbury","año de publicacion":"1950"}
]

diccionario = { "Carolina":["Programacion","Ingles I","Logica"],
               "Delfina":["Ingles I","Ciencia de datos","Programacion II"],
               "Mia":["Matematica","Ingles II", "Probabilidad y Estadistica"]   
}

In [ ]:
lista[1]["año de publicacion"] = 1940
diccionario["Carolina"][1] = "Logica"
print(lista)
print(diccionario)