Evaluativo de la Clase 3

Datos Simples

In [ ]:
ciudades = ["Rio Grande","Tolhuin","La PLata","Salta"]
empleados = { "trabajador1" : {"nombre":"Carlos",
             "cargo":"programador",
             "salario":"350.500"},
             "trabajador2" : {"nombre":"Carolina",
             "cargo":"analista de datos",
             "salario":"340.500"},
             "trabajador3" : {"nombre":"Maria",
             "cargo":"programadora",
             "salario":"350.500"}
}

In [ ]:
print(empleados["trabajador2"])

In [ ]:
print(ciudades[2])